<div class="center_box">
  <h2 style="text-align:center;">Welcome</h2>  
  <p style="text-align:center;">
    It's <%= Time.now %>
  </p>  
  <p style="text-align:center;">
    We have <%= pluralize(@total_orders, "order") %>
  </p>
</div>
