// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.store {
  width:75%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  ul.catalog {
    border-top: solid 2px #bf8eb1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    li {
      width:20rem;
      flex: auto;
      padding: 1em;
      margin: 0;
      &::after {
        clear: both;
        content: " ";
        display: block;
      }
      img {
        float: left;
        padding: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
      }
      .price {
        font-size: 1.414em;
      }
      form, div {
          display:inline;
      }
      input[type="submit"] {
          background-color:#bf8eb1;
          border-radius: 0.354em;
          border: solid thin #bf8eb1;
          color: white;
          font-size: 1em;
          padding: 0.354em 1em;
      }
      input[type="submit"]:hover {
          background-color: #bf5fb5;
      }
    }
  }
}